.filters {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  height: 50px;
  background: white;
  max-width: 500px;
  width: 100%;
  text-align: left;
  padding: 16px;
  border: none;
  background: white;
  margin: 0 auto;
  color: var(--main-dark);
}

.filters__button {
  font: inherit;
  text-transform: capitalize;
  padding: 3px 7px;
  background-color: transparent;
  font-weight: 300;
  border: 1px solid transparent;
  border-radius: 3px;
  color: var(--main-dark);

  &:not(:last-child) {
    margin-right: 5px;
  }

  &:active,
  &:focus {
    border: 1px solid var(--accent-color-light);
  }

  &:hover {
    border: 1px solid var(--accent-color-light--hover);
  }

  &--active {
    border: 1px solid var(--accent-color-light);

    &:hover {
      border: 1px solid var(--accent-color-light);
    }
  }
}
